.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.nav-link {
  padding: .5rem;
  margin: 0 .5rem;
}
.greeter {
	background-image: url(images/alaska.jpg);
	height: 50vh;
	background-position: center center;
	background-size: cover;
	color: white;
}
.greeter h4 {
	padding-top: 10%;
	font-size: 1.5em;
}
.greeter h1 {
	font-weight: 700;
	letter-spacing: .2em;
	padding-top: .2em;
}

.double {
  padding: 5rem 0;
}
.double img {
  width: 60%;
  height: auto;
  display: block;
  margin: 2px 15% 2px 25%;
}
.double-text {
  padding: 20% 0;
  width: 65%;
}
.double-text h3 {
  font-size: 3em;
  font-weight: 700;
  padding-bottom: 25px;
}
.double-text p {
  font-size: 1.5em;
}
.bluback {
  font-size: 1.1em !important;
  color: white;
  background-color: #3a73a9;
  padding: 1rem; 
}

.pic-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: auto;
}
.pic-col {
	flex: 25%;
	max-width: 24.3%;
	padding: 0;
	margin: .2%;
}
.pic-col img {
	max-width: 100%;
	padding: 0;
}

.section3 {
	background-color: #fcf4e8;
}
.section3 h2 {
	font-weight: 700;
	font-size: 2.5rem;
	padding-top: 6rem;
}
.section3 hr {
	width: 6rem;
	border-top: 4px solid blue;
	margin-top: 4rem;
	margin-bottom: 3rem;
}
.section3 p {
	margin: .3em auto;
	font-size: 1.6em;
	width: 70%;
}

footer {
  background-color: #111111;
  color: #FFF;
  margin-top: 0;
  padding: 5rem 0 4rem;
}


@media (max-width: 992px) {
.double img {
  margin: 0 auto;
}
.double-text {
  padding: 20% 0;
  width: 65%;
  margin: 0 auto;
}
}
@media (max-width: 768px) {
	.double-text p {
  font-size: 1.3em;
}
	.section3 p {
		font-size: 1.3em;
	}
}
@media (max-width: 576px) {
	.double-text p {
  font-size: 1em;
	}
	.section3 p {
		font-size: 1em;
	}
}